@media screen and (max-width:590px) {

    .main-container{
       height: 130vh;
       width: auto;
       
    }


    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    

    .container2{
        height: 100vh;

        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    
    .left h1{
        font-size: 2rem;
        font-weight: bold;
        margin-top: 4px;
    }
    
    .left h3{
        font-size: 1rem;
        margin-top: 4px;
    
    }

    .right{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .right img{
        width: 60%;

    }

    .container3{
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}



@media screen and (min-width:600px){
    .left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 80px;
    }

}